<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- 
	Template 2018 Notebook
    http://www.tooplate.com/view/2018-notebook
-->
<title>My Notes | NoteBook Application</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="../../tooplate_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="/css/coda-slider.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="/"

<script src="../../js/jquery-1.2.6.js" type="text/javascript"></script>
<script src="../../js/jquery.scrollTo-1.3.3.js" type="text/javascript"></script>
<script src="../../js/jquery.localscroll-1.2.5.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/jquery.serialScroll-1.2.1.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/coda-slider.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/jquery.easing.1.3.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
    <div id="slider">
        <div id="tooplate_wrapper">
            <div id="tooplate_sidebar">
            
                <div id="header">
                    <h1><a href="#"><img src="../../images/ribbon.gif" style="height: 118px; width: 210px; margin-top: -30px; border-radius: 60px;" title = "Notebook Template - tooplate.com" alt="Notebook free html template" /></a></h1>
                </div>    
                
                <div id="menu">
                    <ul class="navigation">
                        <li><a href="/home" class="selected menu_01">Home</a></li>
                        <li><a href="/write-note" class="menu_02">Take Note</a></li>
                        <li><a href="/mynotes" class="menu_03">Archive</a></li>
                        <li><a href="/update-details" class="menu_04">Update Profile</a></li>
                        <li><a href="/logout" class="menu_05">Logout</a></li>
                    </ul>
                </div>
            </div> <!-- end of sidebar -->  
            
            <div id="content">
                <div class="scroll">
                  <div class="scrollContainer">
                    <div class="panel" id="home">
            <div class="details-content" style="padding-right: 100px; padding-left: 100px;">
                <h2>
                    <%= note.title %>
                </h2>
                <div class="content">
                    <p>
                        <%= note.body %>
                    </p>
                    <% if(note.image != 'empty'){ %>
                          <center><img src="/documentimages/<%= note.image %>" style="height:100px; width:100px, "></center>
                </div><br>
                <a href="/users/edit/<%= note._id %>"><img src="/edit.png" alt="delete icon"
                        style="height:24px; width:24px; margin-right: 40px;"></a>
                <a class="delete" data-doc="<%- note._id %>"><img src="/trashcan.svg.png" alt="delete icon"
                        style="height:24px; width:24px; margin-left: 190px;" ></a> <br>
                <span class="event-date">

                </span>
                    <% } else { %>
                        <a href="/users/edit/<%= note._id %>"><img src="/edit.png" alt="delete icon"
                            style="height:24px; width:24px; margin-right: 40px;" ></a>
                    <a class="delete" data-doc="<%- note._id %>"><img src="/trashcan.svg.png" alt="delete icon"
                            style="height:24px; width:24px; margin-left: 190px;"></a> <br>
                    <span class="event-date">
    
                    </span>
                   <% } %> <br>

                
     

            </div>
           
        </div>
    </div>

    <div class="col_380 float_r"> </div>
  </div>
</div>
</div><!-- end of scroll -->
</div>
</div> <!-- end of content -->
</div> <!-- end of content -->
</div>

<div id="footer">

<div id="social_box">
    <a href="#"><img src="images/facebook.png" alt="facebook" /></a>
    <a href="#"><img src="images/flickr.png" alt="flickr" /></a>
    <a href="#"><img src="images/myspace.png" alt="myspace" /></a>
    <a href="#"><img src="images/twitter.png" alt="twitter" /></a>
    <a href="#"><img src="images/youtube.png" alt="youtube" /></a>
</div>

<div id="footer_left">
    
    Copyright © 2022 <a href="#">Matthew's Corporation</a><br />
    Designed by <a href="#">Matthew Slurry</a><br />
   
</div>

<div class="cleaner"></div>
</div>
<!--   Free Website Template by t o o p l a t e . c o m   -->
</body>
</html>
            <script>
                const trashcan = document.querySelector('a.delete');

                trashcan.addEventListener('click', (e) => {
                    const endpoint = `/users/note/${trashcan.dataset.doc}`;

                    fetch(endpoint, {
                        method: 'DELETE'

                    })
                        .then((response) => response.json())
                        .then((data) => window.location.href = data.redirect)
                        .catch((err) => {
                            console.log(err);
                        });
                })



            </script>
    